.App {
  text-align: center;
}

body {
  background-image: url('./images/star-wars-space-background.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  width: 99.6%;
}
